<app-sub-header titleKey="services_title" />

@if (!loading() && services().length === 0) {
  <p class="empty">{{ 'empty_state' | translate }}</p>
}

<div class="list">
  @for (item of services(); track item.id; let i = $index) {
    <div class="list-row" [style.--i]="i">
      <div class="icn"><app-icon [name]="iconFor(item.icon)" /></div>
      <div>
        <p class="t">{{ item | localize: 'title' }}</p>
        @if ((item | localize: 'description'); as desc) {
          <p class="d">{{ desc }}</p>
        }
      </div>
    </div>
  }
</div>
