<app-sub-header titleKey="rules_title" />

@if (loading()) {
  <div class="list">
    @for (i of skeletonRows; track i) {
      <div class="rule-row">
        <div class="icn skel"></div>
        <div class="skel-lines">
          <div class="skel skel-line" style="width: 50%"></div>
          <div class="skel skel-line" style="width: 80%"></div>
        </div>
      </div>
    }
  </div>
} @else {
  @if (rules().length === 0 && contacts().length === 0) {
    <p class="empty">{{ 'empty_state' | translate }}</p>
  }

  @if (rules().length > 0) {
    <div class="list">
      @for (rule of rules(); track rule.id; let i = $index) {
        <div class="rule-row" [style.--i]="i">
          <div class="icn"><app-icon [name]="iconFor(rule.icon)" /></div>
          <div>
            <p class="t">{{ rule | localize: 'title' }}</p>
            @if ((rule | localize: 'content'); as content) {
              <p class="d">{{ content }}</p>
            }
          </div>
        </div>
      }
    </div>
  }

  @if (contacts().length > 0) {
    <div class="contacts">
      <p class="heading">{{ 'rules_contacts_heading' | translate }}</p>
      <div class="contacts-panel">
        @for (contact of contacts(); track contact.id) {
          <a class="contact-row" [href]="'tel:' + contact.phone">
            <div class="icn"><app-icon name="phone" /></div>
            <div class="body">
              <p class="t">{{ contact | localize: 'label' }}</p>
              <p class="d">{{ contact.phone }}</p>
            </div>
          </a>
        }
      </div>
    </div>
  }
}
